body
 {
   background-color: #00b3b3;
   padding: 5%;
   display: flex;
 }
 h1 {
   font-family: Roboto, "Century Gothic", sans-serif;
   color: #111;
 }
 h2 {
   font-family: Arial, Raleway, sans-serif;
   color: #101010;
 }
 h3 {
   font-family: "Times New Roman", serif;
   color: #222;
 }
 h4 {
   font-family: Roboto, "Century Gothic", sans-serif;
   color: black;
 }
 h5 {
   font-family: Roboto, "Century Gothic", sans-serif;
   color: forestgreen;
 }
 li {
 	list-style-type: none;
 }


  .left {
    background-color: #ccffff;
    margin: 2%;
    padding: 2%;
 	  width: 33%;
 }

 .right {
   background-color: #ccffff;
   margin: 2%;
   padding: 2%;
  font-family: Roboto, "Century Gothic", sans-serif;
  width: 66%;
 }


#moose {
	width:100%;
}


 img {
   width: 85%;
   margin: 2% 0;
 }
